{
  "server_pin_code": "https://discovery.filaos.re",
  "front_type": "FOR",
  "mode_nfc": "NFCLO",
  "urlServerNfc": "http://localhost:3000",
  "device": "acr122u-u9",
  "password": "xxxxxxxxxxxxxxxxxx",
  "exeChromium": "chromium-browser",
  "dev": false
}
